{% extends 'base.html'%}
​
{% block content %}
{% if msg %}
<script>
    alert('{{msg}}')
</script>
{% endif %}

<!-- <form action="/postsign/" method="post">
        {% csrf_token %}
        Email :
        <input type="email" name="email">
        Password:
        <input type="password" name="pass">
        <input type="submit" value="SignIn">
    </form> -->
<!-- Material form login -->
<div class="card">

    <h5 class="card-header info-color white-text text-center py-4">
        <strong>Sign in</strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">

        <!-- Form -->
        <form class="text-center" action="/postsign/" method="post" style="color: #757575;">
            {% csrf_token %}
            <!-- Email -->
            <div class="md-form">
                <input type="email" id="materialLoginFormEmail" class="form-control" name="email">
                <label for="materialLoginFormEmail">E-mail</label>
            </div>

            <!-- Password -->
            <div class="md-form">
                <input type="password" id="materialLoginFormPassword" class="form-control" name="pass">
                <label for="materialLoginFormPassword">Password</label>
            </div>

            <div class="d-flex justify-content-around">
                <div>
                    <!-- Remember me -->
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialLoginFormRemember">
                        <label class="form-check-label" for="materialLoginFormRemember">Remember me</label>
                    </div>
                </div>
                <div>
                    <!-- Forgot password -->
                    <a href="">Forgot password?</a>
                </div>
            </div>

            <!-- Sign in button -->
            <input type="submit" value="SignIn">
            <!-- Register -->
            <p>Not a member?
                <a href="">Register</a>
            </p>

            <!-- Social login -->


        </form>
        <!-- Form -->

    </div>

</div>
<!-- Material form login -->

{% endblock%}