{%extends 'base.html'%}

{% block content %}

  <div class="wrapper d-flex">
      <div class="sideMenu">
          <div class="sidebar">
              <ul class="navbar-nav">
                  <li class="nav-item"><a href="{% url 'dashboard'%}" class="nav-link"><i class="fas fa-tachometer-alt" aria-hidden="true"></i>
                      <span class="text">Dashboard</span>
                  </a></li>
                  <li class="nav-item"><a href="{% url 'admin-dash'%}" class="nav-link"><i class="fas fa-lock" aria-hidden="true"></i>
                      <span class="text">Admin</span>
                  </a></li>
                  <li class="nav-item"><a href="{% url 'users'%}" class="nav-link"><i class="fas fa-users" aria-hidden="true"></i>
                      <span class="text">Users</span>
                  </a></li>
                  <li class="nav-item"><a href="{% url 'drivers'%}" class="nav-link"><i class="fas fa-users" aria-hidden="true"></i>
                      <span class="text">Drivers</span>
                  </a></li>
                  <li class="nav-item"><a href="{% url 'trips'%}" class="nav-link"><i class="fas fa-suitcase" aria-hidden="true"></i>
                      <span class="text">Trips</span>
                  </a></li>
                  <li class="nav-item"><a href="#" class="nav-link"><i class="fas fa-chart-pie" aria-hidden="true"></i>
                      <span class="text">Charts</span>
                  </a></li>
                  <li class="nav-item"><a href="#" class="nav-link"><i class="fas fa-star" aria-hidden="true"></i>
                      <span class="text">Reviews</span>
                  </a></li>
                  <li class="nav-item"><a href="#" class="nav-link"><i class="fas fa-map-marked-alt"></i>
                      <span class="text">Location Fare</span>
                  </a></li>                
              </ul>
          </div>
      </div>
      <div class="container-fluid content">
        <div class="row ">
          <div class="col-md-12 text-center">
            <h3 class="font-weight-bold" id="user-title"> User-details</h3>
          </div>          
          
          <div id="table" class="table-editable table-responsive-sm">
            <span class="table-add float-right mb-3 mr-2"><a href="#!" class="text-success"><i
              class="fas fa-plus fa-2x" aria-hidden="true"></i></a></span>

              <table id="usersData" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th class="th-sm">First name
                      </th>
                      <th class="th-sm">Last name
                      </th>
                      <th class="th-sm">Email
                      </th>
                      <th class="th-sm">Mobile
                      </th>
                     
                      <th class="th-sm">Sign-Up date
                      </th>
                      <th class="th-sm">Status
                      </th>
                      <th class="th-sm">Sort</th>
                      <th class="th-sm">Remove</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="pt-3-half" contenteditable="true">Anthony</td>
                      <td class="pt-3-half" contenteditable="true">Njuguna</td>
                      <td class="pt-3-half" contenteditable="true">anto@gmail.com</td>
                      <td class="pt-3-half" contenteditable="true">0712345678</td>
                      <!-- <td class="pt-3-half" contenteditable="true">Male</td> -->
                      <td class="pt-3-half" contenteditable="true">2011/04/25</td>
                      <td class="pt-3-half" contenteditable="true">$320,800</td>
                      <td class="pt-3-half">
                        <span class="table-up"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-up"
                              aria-hidden="true"></i></a></span>
                        <span class="table-down"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-down"
                              aria-hidden="true"></i></a></span>
                      </td>
                      <td>
                        <span class="table-remove"><button type="button"
                            class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
                      </td>
                    </tr>
                    <tr>
                      <td class="pt-3-half" contenteditable="true">Elizabeth</td>
                      <td class="pt-3-half" contenteditable="true">Kimita</td>
                      <td class="pt-3-half" contenteditable="true">kimita@gmail.com</td>
                      <td class="pt-3-half" contenteditable="true">0712345678</td>
                      
                      <td class="pt-3-half" contenteditable="true">2011/07/25</td>
                      <td class="pt-3-half" contenteditable="true">$170,750</td>
                      <td class="pt-3-half">
                        <span class="table-up"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-up"
                              aria-hidden="true"></i></a></span>
                        <span class="table-down"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-down"
                              aria-hidden="true"></i></a></span>
                      </td>
                      <td>
                        <span class="table-remove"><button type="button"
                            class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
                      </td>
                    </tr>
                    <tr>
                      <td class="pt-3-half" contenteditable="true">Sauda</td>
                      <td class="pt-3-half" contenteditable="true">Habib</td>
                      <td class="pt-3-half" contenteditable="true">sauda@gmail.com</td>
                      <td class="pt-3-half" contenteditable="true">0712345678</td>
                      
                      <td class="pt-3-half" contenteditable="true">2009/01/12</td>
                      <td class="pt-3-half" contenteditable="true">$86,000</td>
                      <td class="pt-3-half">
                        <span class="table-up"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-up"
                              aria-hidden="true"></i></a></span>
                        <span class="table-down"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-down"
                              aria-hidden="true"></i></a></span>
                      </td>
                      <td>
                        <span class="table-remove"><button type="button"
                            class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
                      </td>
                    </tr>
                    
                  </tbody>
                  <tfoot>
                    <tr>
                      <th class="bottom-th">First name
                      </th>
                      <th class="bottom-th">Last name
                      </th>
                      <th class="bottom-th">Email
                      </th>
                      <th class="bottom-th">Mobile
                      </th>
                      
                      <th class="bottom-th">Sign-Up date
                      </th>
                      <th class="bottom-th">Status
                      </th>
                      <th class="bottom-th">Sort</th>
                      <th class="bottom-th">Remove</th>
                    </tr>
                  </tfoot>
                </table>
          </div>
          
        </div>
      </div>
  </div>
{% endblock %}